<div class="estadisticas-container">
    <h1>En éste apartado puedes obtener una gráfica de predicción generada por nuestro algoritmo de mineria de datos ARIMA</h1>
    
    
    
    <div class="grafica">
        <button (click)="generarPrediccion()">Generar predicción</button>
        <a [href]="graficaUrl" download="grafica_prediccion.png">Descargar gráfica</a>
        <div *ngIf="graficaUrl">
            <img *ngIf="graficaUrl" [src]="graficaUrl" alt="Gráfica de predicción" style="max-width: 100%; height: auto;">
        </div>
    </div>
</div>