#estadisticas-container {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}
h1 {
  text-align: center;
  color: #333;
  font-weight: bolder;
  font-size: x-large;
  margin-bottom: 20px;
}
h2 {
  text-align: center;
  color: #333;
  font-weight: bolder;
  font-size: x-large;
  margin-bottom: 20px;
}
p{
  display: flex;
  font-weight: bold;
  font-size: x-large;
  font-weight: normal;
}

#grafica{
  width: 100%;
  max-width: 95%;
  height: 400px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}