div {
    margin: 20px 20px;
    display: flex;
    justify-items: center;
    gap: 30px ;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#botones {
    grid-template-columns: 1fr 1fr;
    display: grid;
    justify-content: center;
    gap: 35px;
    margin-top: 20px;
}
#titulo {
    text-align: center;
    color: #333;
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 10px;
}
h2 {
    text-align: center;
    color: #333;
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 20px;
}

button {
    width: 100%;
    max-width: 1000px;
    height: 200px;   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: #c12d4b;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #81142a;
    color: white;
    transform: scale(1.05);
}

button:active {
    background-color: #003f7f;
}

button span {
    font-size: 24px;
}

button:focus {
    outline: 2px solid #0056b3;
    outline-offset: 2px;
}