<div id="titulo"> 
    <h2>EzMarket VENDEDOR</h2>
</div>
<div id="botones">
    
    <button [routerLink]="['/registrar-productos']" >
        <span>📋</span>
        Registrar
    </button>
    <button>
        <span>📦</span>
        Ver Productos
    </button>
    <button>
        <span>📊</span>
        Ver Estadísticas
    </button>
    <button>
        <span>🛒</span>
        Ver Pedidos
    </button>
    <button>
        <span>⚙️</span>
        Ajustes
    </button>
    <button>
        <span>💰</span>
        Ventas
    </button>
</div>