<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>EzMarket</title>

        <link rel="stylesheet" href="nav-bar.component.css">
</head>

<body>

	<header id="main-header">

		<a id="logo-header" href="#">
			<span class="site-name">EzMarket</span>
			<span class="site-desc"> Tu app para pedir del tianguis </span>
		</a> <!-- / #logo-header -->

		<nav>
			<ul>
				<li><a href="#">Inicio</a></li>
				<li><a href="#">Pedidos</a></li>
				<li><a href="#">Ajustes</a></li>
			</ul>
		</nav><!-- / nav -->

	</header><!-- / #main-header -->




</body>
</html>
