div{
    width: 100%;
    min-height: 150px;
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: flex-end;
    border-radius: 10px;
}

h3{
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    background-color: rgba(193, 45, 75, 0.80);
}