<div class="dashboard">
    <h2>EzMarket VENDEDOR</h2>
    <div class="registrar-items">
        <h3>Registrar productos</h3>
        <form (ngSubmit)="onSubmit()" #form="ngForm">
         <label for="nombreProducto">Nombre de producto:</label>
        <input type="text" id="nombreProducto" name="nombreProducto" [(ngModel)]="producto.nombre" required />

        <label for="descripcionProducto">Descripcion de producto:</label>
        <textarea id="descripcionProducto" name="descripcionProducto" [(ngModel)]="producto.descripcion"></textarea>
        
        <label for="precioProducto">Precio de producto:</label>
        <input type="number" id="precioProducto" name="precioProducto" [(ngModel)]="producto.precio" required min="0" />

        <label for="stockProducto">Stock:</label>
        <input type="number" id="stockProducto" name="stockProducto" [(ngModel)]="producto.stock" required min="0" />

         <label for="pesoProducto">Peso promedio (grs):</label>
        <input type="number" id="pesoProducto" name="pesoProducto" [(ngModel)]="producto.peso" required min="0" />

        <label for="piezasProducto">Cantidad de piezas de producto:</label>
        <input type="number" id="piezasProducto" name="piezasProducto" [(ngModel)]="producto.piezas" required min="0" />

        <label for="usuarioId">Ingresa tu ID de usuario</label>
        <input type="number" id="usuarioId" name="usuarioId" [(ngModel)]="producto.usuario" />

        <button type="submit">Agregar producto</button>
        </form>
    </div>
</div>