<div class="dashboard">
    <h2>EzMarket VENDEDOR</h2>
    <div class="registrar-items">
        <h3>Registrar productos</h3>
        <form>
            <label for="itemName">Nombre de producto:</label>
            <input type="text" id="nombreProducto" name="nombreProducto" placeholder="Ingresa el nombre del producto" required />

            <label for="itemPrice">Precio de producto:</label>
            <input type="number" id="precioProducto" name="precioProducto" placeholder="Ingresa el precio del producto" required />

            <label for="itemDescription">Descripcion de producto:</label>
            <textarea id="descripcionProducto" name="descripcionProducto" placeholder="Ingresa la descripcion del producto"></textarea>

            <button type="submit">Agregar producto</button>
        </form>
    </div>
</div>