<img id="fotoProducto" src="{{producto!.fotoUrl}}" alt="{{producto?.nombre}}">
<div class="margen-chico"> 
<ul>
    <span>Descripcion: </span>
        <li *ngFor="let descripcion of producto?.descripciones?.split(',')">{{descripcion}}</li>
    </ul>
    <div>
        <!-- <img src="./../../../assets/icons/buscar.svg" alt="vegano"> -->

    </div>

    <label for="notas">Notas:</label>
    <textarea name="notas" id="notas" cols="30" rows="10" [(ngModel)]="notas"></textarea>
    <div id="cantidad-container">
    <label for="cantidad">Cantidad:</label>
    <app-contador-cantidad (cantidadCambiada)="cantidad.set($event)"></app-contador-cantidad>
    </div>
    <button (click)="agregarAlCarrito()">Agregar al carrito</button>

</div>