#fotoProducto {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
  display: block;
}


.margen-chico{
  margin-top: 250px;
}

.margen-chico > * {
  margin-bottom: 10px;
}

ul li {
  display: inline;

  &:not(:last-of-type)::after{
      content: ", ";
      
  }
}

textarea{
  display: block;
  border-radius: 15px;
  border: unset;
  background-color: antiquewhite;
  margin-top: 10px;
  margin-left: 20px;
  width: 100%;
  resize: none;
  width: calc(100% - 30px);
  padding: 15px;
  &:focus{
    outline: none;
  }
}

#cantidad-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button{
  width: 100%;
  font-weight: bold;
  border-radius: 20px;
  border: unset;
  background-color: #c12d4b;
  font-size: larger;
  padding: 10px;
}
button:hover{
  background-color: #a11f3b;
  transition: all 0.3s ease-in-out;
  color: white;
}

#negrita{
  font-weight: bold;
  margin: 10px 0;
}