<img id="fotoProducto" src="{{producto!.fotoUrl}}" alt="{{producto?.nombre}}">
<section class="margen-chico"> 
<ul>
    <span id="negrita">Descripcion: </span>
        <li *ngFor="let descripcion of producto?.descripciones?.split(',')">{{descripcion}}</li>
    </ul>
    <div id="negrita">
        <!-- <img src="./../../../assets/icons/buscar.svg" alt="vegano"> -->
        <label>Precio: ${{producto?.precio}}</label>
    </div>

    
    <label for="notas"><br>Notas:</label>
    
    <textarea name="notas" id="notas" cols="30" rows="10" [(ngModel)]="notas"></textarea>
    <div id="cantidad-container">
    <label id="negrita" for="cantidad">Cantidad:</label>
    <app-contador-cantidad (cantidadCambiada)="cantidad.set($event)"></app-contador-cantidad>
    </div>
    <button (click)="agregarAlCarrito()">Agregar al carrito</button>

</section>